<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Техническая поддержка</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="message-form">
    <form method="post" action="/support">
        <h2>Обращение в техническую поддержку</h2>
        <label for="name">Имя</label>
        <input class="in" name="first_name" type="text" id="name">
        <label for="surname">Фамилия</label>
        <input class="in" name="last_name" type="text" id="surname">
        <label for="email">E-Mail</label>
        <input class="in" name="e_mail" type="text" id="email">
        <label for="message">Сообщение</label>
        <input class="in" name="e_mail" type="text" id="message">
        <hr>
        <input type="submit" value="Отправить">
    </form>
</div>

</body>
</html>