<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>social-networks</title>
    <link rel="stylesheet" href="static/css/app.b17facfaf6b645e063a6f7c05065831f.css" />
  </head>

  <body>
    <div id="app"></div>
    <script type="text/javascript" src="static/js/manifest.5e8b564b20a189f334f8.js"></script>
    <script type="text/javascript" src="static/js/vendor.7573bcb0af0f023c6c22.js"></script>
    <script type="text/javascript" src="static/js/app.18a3ff773812b6bf8ce4.js"></script>
  </body>
</html>
